CompileFlags:
  Add: [
    # C++ Standard
    -std=c++20,
    
    # Project include paths
    -Ipackages/react-native-quick-crypto/cpp/**,
    
    # Dependencies
    -Ipackages/react-native-quick-crypto/deps/**,
    
    # Libsodium includes
    -Ipackages/react-native-quick-crypto/ios/libsodium-stable/src/libsodium/include,
    
    # Nitro Modules includes
    -Ipackages/react-native-quick-crypto/nitrogen/generated/shared/c++,
    -Inode_modules/react-native-nitro-modules/cpp/**,
    
    # OpenSSL includes
    -I/opt/homebrew/Cellar/openssl@3/3.*/include,
  ]
