name: Build iOS

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/build-ios.yml'
      - 'packages/react-native-quick-crypto/ios/**'
      - 'packages/react-native-quick-crypto/nitrogen/generated/ios/**'
      - 'packages/react-native-quick-crypto/nitrogen/generated/shared/**'
      - '*.podspec'
      - 'example/ios/**'
  pull_request:
    paths:
      - '.github/workflows/build-ios.yml'
      - 'packages/react-native-quick-crypto/ios/**'
      - 'packages/react-native-quick-crypto/nitrogen/generated/ios/**'
      - 'packages/react-native-quick-crypto/nitrogen/generated/shared/**'
      - '*.podspec'
      - 'example/ios/**'

defaults:
  run:
    working-directory: example

jobs:
  build_ios_example:
    name: Build iOS Example App
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.1.26

      - name: Bootstrap JS
        run: |
          bun install

      - name: Setup Ruby (bundle)
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4
          bundler-cache: true
          working-directory: example

      - name: Restore Pods cache
        uses: actions/cache@v4
        with:
          path: |
            example/ios/Pods
            ~/Library/Caches/CocoaPods
            ~/.cocoapods
          key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pods-

      - name: Install Gems
        run: bundle config set deployment 'true' && bundle install

      - name: Install Pods
        run: bun pods

      - name: Install xcpretty
        run: gem install xcpretty

      - name: Build App
        working-directory: example/ios
        run: "set -o pipefail && xcodebuild \
          CC=clang CPLUSPLUS=clang++ LD=clang LDPLUSPLUS=clang++ \
          -derivedDataPath build -UseModernBuildSystem=YES \
          -workspace QuickCryptoExample.xcworkspace \
          -scheme QuickCryptoExample \
          -sdk iphonesimulator \
          -configuration Debug \
          -destination 'platform=iOS Simulator,name=iPhone 16 Pro' \
          build \
          CODE_SIGNING_ALLOWED=NO | xcpretty"
