name: 'Update Lockfiles (Podfile.lock)'

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/update-lockfiles.yml'
  pull_request:
    paths:
      - '.github/workflows/update-lockfiles.yml'
      - 'package.json'
      - '**/package.json'

permissions:
  contents: write

jobs:
  update-lockfiles:
    name: 'Update lockfiles (Podfile.lock)'
    if: github.actor == 'dependabot[bot]'
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.ref }}

      - uses: ./.github/actions/setup-bun

      - name: Setup Ruby (bundle)
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3
          bundler-cache: true
          working-directory: example/ios

      - run: |
          bun install

          cd example
          bundle install
          bun pods
          git add ios/Podfile.lock

          cd ..
          git config --global user.name 'dependabot[bot]'
          git config --global user.email 'dependabot[bot]@users.noreply.github.com'
          git commit --amend --no-edit
          git push --force
