name: 'Validate C++'

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/validate-cpp.yml'
      - 'packages/react-native-quick-crypto/android/src/main/cpp/**'
      - 'packages/react-native-quick-crypto/cpp/**'
      - 'packages/react-native-quick-crypto/nitrogen/generated/shared/**'
  pull_request:
    paths:
      - '.github/workflows/validate-cpp.yml'
      - 'packages/react-native-quick-crypto/android/src/main/cpp/**'
      - 'packages/react-native-quick-crypto/cpp/**'
      - 'packages/react-native-quick-crypto/nitrogen/generated/shared/**'

jobs:
  validate_cpp:
    name: C++ Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: reviewdog/action-cpplint@master
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          flags: --linelength=230
          targets: --recursive packages/react-native-quick-crypto/cpp packages/react-native-quick-crypto/android/src/main/cpp
          filter: "-legal/copyright\
            ,-readability/todo\
            ,-build/namespaces\
            ,-whitespace/comments\
            ,-build/include_order\
            ,-whitespace/indent_namespace\
            ,-whitespace/parens\
            "
