name: Validate JS

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/validate-js.yml'
      - 'bun.lockb'
      - 'packages/react-native-quick-crypto/src/**'
      - 'packages/react-native-quick-crypto/*.json'
      - 'packages/react-native-quick-crypto/*.*s'
      - 'packages/react-native-quick-crypto/bun.lockb'
      - 'example/src/**'
      - 'example/*.json'
      - 'example/*.*s'
      - 'example/*.*sx'
      - 'example/bun.lockb'
  pull_request:
    paths:
      - '.github/workflows/validate-js.yml'
      - 'bun.lockb'
      - 'packages/react-native-quick-crypto/src/**'
      - 'packages/react-native-quick-crypto/*.json'
      - 'packages/react-native-quick-crypto/*.*s'
      - 'packages/react-native-quick-crypto/bun.lockb'
      - 'example/src/**'
      - 'example/*.json'
      - 'example/*.*s'
      - 'example/*.*sx'
      - 'example/bun.lockb'

jobs:
  compile_js:
    name: Compile JS (tsc)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.1.26

      - name: Install reviewdog
        uses: reviewdog/action-setup@v1

      - name: Bootstrap JS
        run: |
          bun install

      - name: Run TypeScript # Reviewdog tsc errorformat: %f:%l:%c - error TS%n: %m
        run: |
          bun tsc | reviewdog -name="tsc" -efm="%f(%l,%c): error TS%n: %m" -reporter="github-pr-review" -filter-mode="nofilter" -fail-on-error -tee
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  lint_js:
    name: JS Lint (eslint, prettier)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.1.26

      - name: Bootstrap JS
        run: |
          bun install --frozen-lockfile

      - name: Run ESLint (rnqc)
        run: |
          cd packages/react-native-quick-crypto
          bun lint:fix
          bun format:fix

      - name: Run ESLint (example)
        run: |
          cd example
          bun lint:fix
          bun format:fix

      - name: Verify no files have changed after auto-fix
        run: git diff --exit-code HEAD
